#rpc-websocket 的client配置选项
Name: socket.rpc

#rpc.socket的服务端口地址
#Target: 0.0.0.0:8080
Target: 192.168.33.10:8882

Etcd:
  Hosts:
    - 192.168.33.10:20001
    - 192.168.33.10:20003
  Key: socket.rpc

#ServiceId must be between 0 and 1023
ServiceId: "101" #GRPC服务ID的范围区间 100-199